$black:#000;
$white:#fff;

// 2. Custom colors
$color-green:#50AB99;
$color-green-pale:#50AB99;
$color-green-dark:#50AB99;

$color-blue:#00A9CF;
$color-blue-hover:#14D2FD;

$color-red:$color-blue;

$color-heading:#4D4D4D;
$color-text:#4D4D4D;

// 3. Sizes
$base-size:18px;



